  <section class="clean-block clean-catalog dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Your friendly neighbourhood Felons</h2>
        <p>Browse your favourite felon instructors and book your session - absolutely free of charge!</p>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="d-none d-md-block">
              <div class="filters">
                <div class="filter-item">
                  <h3>Conviction</h3>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Theft</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-2" /><label class="form-check-label" for="formCheck-2">Robbery</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-3" /><label class="form-check-label" for="formCheck-3">Assault</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-4" /><label class="form-check-label" for="formCheck-4">Murder</label></div>
                </div>
                <div class="filter-item">
                  <h3>Distance</h3>
                  <div class="form-check"><input type="radio" class="form-check-input" id="formCheck-5" /><label class="form-check-label" for="formCheck-5">&lt; 5 Km</label></div>
                  <div class="form-check"><input type="radio" class="form-check-input" id="formCheck-6" /><label class="form-check-label" for="formCheck-5">&lt; 10 Km</label></div>
                  <div class="form-check"><input type="radio" class="form-check-input" id="formCheck-7" /><label class="form-check-label" for="formCheck-5">&lt; 15 Km</label></div>
                </div>
              </div>
            </div>
            <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
              <div class="collapse" id="filters">
                <div class="filters">
                  <div class="filter-item">
                    <h3>instructor Type</h3>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Theft</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-2" /><label class="form-check-label" for="formCheck-2">Robbery</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-3" /><label class="form-check-label" for="formCheck-3">Assault</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-4" /><label class="form-check-label" for="formCheck-4">Murder</label></div>
                  </div>
                  <div class="filter-item">
                    <h3>Distance</h3>
                    <div class="form-check"><input type="radio" class="form-check-input" id="formCheck-5" /><label class="form-check-label" for="formCheck-5">&lt; 5 Km</label></div>
                    <div class="form-check"><input type="radio" class="form-check-input" id="formCheck-6" /><label class="form-check-label" for="formCheck-5">&lt; 10 Km</label></div>
                    <div class="form-check"><input type="radio" class="form-check-input" id="formCheck-7" /><label class="form-check-label" for="formCheck-5">&lt; 15 Km</label></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="products">
              <div>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="tab-1">
                    <div class="row no-gutters mt-4">
                      <div class="card-grid">
                        <% @instructors.each do |instructor| %>
                          <div class="clean-product-item my-4 pt-3">
                              <div class="image">
                                <%= link_to '#' do %>
                                  <% if instructor.instructor_photo.present? %>
                                      <%= cl_image_tag instructor.instructor_photo, width: 250, height:150, crop: :fill %>
                                  <% else %>
                                    <%= image_tag 'convicts/criminal.jpg', width: 250 %>
                                  <% end %>
                              <%= link_to instructor.name, instructor_path(instructor) %>
                                <% end%>
                              </div>
                          </div>
                        <% end %>
                      </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
