<div class="clean-product-item my-4 pt-3">

  <div class="image">
      <%= cl_image_tag scheduled_activity.activity_type.photo, width: 250, crop: :fill %>
  </div>
  <%= link_to "#{scheduled_activity.name} - #{scheduled_activity.activity_type.duration} min",
  activity_type_path(scheduled_activity.activity_type) %>
  <strong>
    - <%= render partial: '/shared/date/fdate_time', locals: {date: scheduled_activity.date} %>
  </strong>

  <div>
    <%= scheduled_activity.location %>
  </div>
</div>
