#create rest of ERB files, use his URLs.

<div class="main">
  <h1><%= @activity_type.name %></h1>
  <div class="edit">
    <%#= link_to 'Edit this activity_type', edit_path %>
  </div>
</div>

<div class="activity_type">
  <p><%= @activity_type.description %></p>
</div>

<%#= link_to "Back to list", tasks_path %>
