
        <section class="clean-block clean-catalog dark">
            <div class="container">
              <div class="block-heading">
                    <h1 class="text-info">Felony Fitness</h1>
                    <p>Browse your favourite felon activities and book your session - absolutely free of charge!</p>
                </div>
            </div>
          </div>
            <div class="container">
                <div class="content">
                        <div class="col-12">
                            <div class="products">
                                <div>
                                  <div class="row no-gutters mt-4">
                                      <div class="card-grid-3c">
                                        <% @scheduled_activities.each do |scheduled_activity| %>
                                          <div class="clean-product-item">
                                              <div class="image">
                                                <%= link_to '#' do %>
                                                  <%= image_tag("activities/jailbreak1.jpg", class: 'img-fluid d-block mx-auto') %>
                                                <% end%>

                                              </div>
                                              <div class="product-name">
                                                <%= link_to scheduled_activity.name, activity_type_path(scheduled_activity.activity_type) %>
                                              </div>
                                              <div class="about">
                                                  <% if scheduled_activity.activity_type.reviews.empty? %>
                                                    <%= "No reviews yet" %>
                                                  <% else  %>
                                                    <% scheduled_activity.activity_type.average_rating.times do %>
                                                  <i class="fa fa-star" aria-hidden="true"></i>
                                                  <% end %>
                                                  <% end %>
                                              </div>
                                          </div>
                                          <% end %>
                                      </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

