.splash-home-hero {
  background-image: url('activities/crossfit1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-bottom: 30px;
}

.splash-home-hero > .block-heading {
  display: flex;
  background: white;
}

h1 {

}
